extends ../../common/views/layout

block content
  h1= data.hero
  p Welcome to #{data.hero}
  p 
    a(href='/invoices') Invoices
  p
    a(href='/projects') Projects
  p 
    a(href='/users') Users
 
