extends ../../../common/views/layout 

block content
 h1 Projects
 table.table
    thead
      tr
        th Project
        th Owner
    //- 'projects' is the key for the array 'doc' in index controller
    each project in projects  
      tr
        td
          a(href='/projects/#{project.id}')=project.name
        td= project.owner
  p
    a(href='/projects/new') New Projects!
  p
    a(href='/') Home